*.pyc
/compiler/
/compiler-site/
/compiler-tml/
/gh-pages/
/node/
/node_modules/
/pegex/
/orphan/
/playground/
/rotn/
/site/
/talk/
/test/testml/
/testml-tml/
/package*
exe-*/
pkg-*/
run-*/
.precomp/
.testml/

/test/fail/
